<a href="https://colab.research.google.com/github/supriyaj1998/python-for-data-science/blob/master/my_second_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#My name is supriya Jadhav.I live in panvel, my hometown is Roha dist raigad.
#I am 21 years old.My father is government officer and my mother is houseworker.
#I have a younger brother .There are 4 members in my family including me.
#I am persuing a degree in computer engineering from pillai college of engineering and technology.
#My hobbies are singing , dancing ,working on different technogies and applications and backends.
#My likes are composing poems and songs.

#The reason I wanted to be a data sceintist is:
# Industries are becoming data-driven and new innovations are being made every day. Industries require data-scientists to assist them in making smarter decisions and creating better products.With the advent of high-performance computing platforms and data analysis.
# Data Scientist makes 163% more than the national average salary. This makes Data Science a highly lucrative career choice.

In [0]:
#three strings variable for name:

In [5]:
firstname = "supriya" 
lastname = "Jadhav"
city = "Panvel"
fullname = firstname +" "+lastname
print(fullname)
address = city
print(address)

supriya Jadhav
Panvel

In [6]:
age = 21
height = "5.5 cm"
print(age)
print(height)

21
5.5 cm

In [8]:
ssc =75.60
diploma  =70.00
print(ssc )
print(diploma )

75.6
70.0

In [0]:
# making a list

In [11]:
favourite_numbers =[7,5,8,4,2,75.60,28.0,'jerry']
favourite_numbers

[7, 5, 8, 4, 2, 75.6, 28.0, 'jerry']

In [53]:
my_friends=['swapnali','neha','shweta','pooja','amruta']

my_friends

['swapnali', 'neha', 'shweta', 'pooja', 'amruta']

In [51]:
# making a dictionary :
#initilization:
myself={'DOB':'18_jan_1998','Favourite color':"red"" ""black"" " "purple",'Age':21,"Gender":'female','Name':"Supriya Jadhav",'Favourite Song':"Senorita"}
print(myself['Name'])
print(myself['Gender'])

#appending:
myself['vegetarian']=[False]

Supriya Jadhav
female

In [52]:
myself

{'Age': 21,
 'DOB': '18_jan_1998',
 'Favourite Song': 'Senorita',
 'Favourite color': 'red black purple',
 'Gender': 'female',
 'Name': 'Supriya Jadhav',
 'vegetarian': [False]}