<a href="https://colab.research.google.com/github/supriyaj1998/Board-Infinity-homework/blob/master/python_handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# write a python program which accepts the radius of a circle from the user and compute the area

In [0]:
radius=int(input("enter radius of a circle please : "))
pi=3.14
area=pi*radius*radius
print("area of circle is=",area)

enter radius of a circle please : 2
area of circle is= 12.56

In [0]:
# write a python program which accepts the users first and last name and print this in reverse order with a space between them

In [2]:
first_name=input("enter your first name please: ")
last_name=input("enter your last name please: ")
full_name=first_name+"  "+last_name
print("your full name in reverse order is : ",full_name[::-1])

enter your first name please: Supriya
enter your last name please: Jadhav
your full name in reverse order is :  vahdaJ  ayirpuS

In [0]:
#write a python program which check if number is divisible by 3 or not

In [0]:
number=int(input("enter a number please:"))
if number%3==0:
  print("number is divisible by 3")
else:
  print("number is not divisible by 3")

enter a number please:5
number is not divisible by 3

In [0]:
#write a program to implement 5 function of all math module

In [0]:
import math as m
print(m.tan(20))

2.237160944224742

In [0]:
print(m.pow(3,2))

9.0

In [0]:
print(m.factorial(4)	)

24

In [0]:
print(m.log10(45))

1.6532125137753437

In [0]:
print(m.gamma(6))

120.0

In [0]:
#wap to so sum of square

In [0]:
sum=0
for i in range(0,6):
  sum=sum + i**2
  print(sum)

0
1
5
14
30
55

In [0]:
# write void function that reverse a 4 digit number and calculate the sum of squares of first 2 digit number and last 2 digit number (hint-if 1233 is passed as an argument then function should be calculate 12**2+33**2)

In [0]:
def cal(abcd):
  print(int(str(abcd)[::-1]))
  last2digit=(int(str(abcd)[::-1]))%100
  first2digit=(int(str(abcd)[::-1]))//100
  print(first2digit**2+last2digit**2)

cal(1234)

4321
43
21
2290

In [0]:
#write a function that takes one argument and report if the argument is prime or not wap that invoke the function

In [0]:
def test_prime(n):
  if (n==1):
    return not "prime"
  elif(n==2): 
    return "prime"
  else:
    if (n%2==0):
      return "not prime"
  return "prime"
test_prime(9)

'prime'

In [0]:
# wap that takes the charcter and return TRUE if it is a vowel FALSE otherwise

In [0]:
ch=input("enter a charcater:")
if(ch=='a'or ch=='e'or ch=='i'or ch=='o'or ch=='u'or ch=='A'or ch=='E'or ch=='I'or ch=='O'or ch=='U'):
    print("TRUE")
else:
   print("FALSE")

enter a charcater:i
TRUE

In [0]:
|#wap to get last digit of cube

In [0]:
number=int(input("enter a number : "))
cube=number**3
last_digit=cube%10
print(cube)
print(last_digit)

enter a number : 5
125
5

In [0]:
# write a python program that takes a list and return a new list with unique element of theb first list

In [0]:
def unique_list(l):
  x=[]
  for a in l:
    if a not in x:
      x.append(a)
  return x
print(unique_list([1,3,6,8,9,3]))

[1, 3, 6, 8, 9]